[user]
  email = antcar1992@gmail.com
  name = Anthony Caron
[alias]
  br = branch
  ci = commit
  co = checkout
  f = fetch
  st = status
[pull]
  rebase = true
[rebase]
  autostash = true
[core]
  ignoreCase = false
[init]
  defaultBranch = main
[credential]
	helper = store
