[user]
  email = antcar1992@gmail.com
  name = Anthony Caron
[alias]
  br = branch
  ci = commit
  co = checkout
  f = fetch
  st = status
[pull]
  rebase = true
[rebase]
  autostash = true
[init]
  defaultBranch = master
